<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,287},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,192},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,98},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{67,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,94}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>p1_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{66,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,382},{66,93}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,97},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,192},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,287},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{68,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,382},{66,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheetplist-0.png</string>
            <key>size</key>
            <string>{219,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10fb7f85b974c0a5747d47bb8c6ab7f7:dc85c5c5db4a1b09f00d5ca4fe737a30:2a149e978213488dc98d066cf01f061c$</string>
            <key>textureFileName</key>
            <string>spritesheetplist-0.png</string>
        </dict>
    </dict>
</plist>
